@mixin settings-item {
	margin: 3px;
	font-weight: 500;
}

.generation-settings {
	margin: 15px;

	display: flex;
	justify-content: center;

	&__symbol {
		@include settings-item;
		font-size: 80px;
		align-self: auto;
	}

	&__common-sum {
		@include settings-item;
		font-size: 35px;
		align-self: center;
	}

	.weight-control {
		display: flex;
		justify-content: space-around;

		label,
		span {
			width: 100px;
		}
	}
}
