.App {
	text-align: center;

	.row {
		display: flex;
		flex-direction: row;
	}

	.game {
		padding: 5px;

		.map-field {
			&_reverse {
				display: flex;
				flex-direction: column-reverse;
			}

			border: 1px solid;
			width: 100%;
			margin: auto;

			&_use-fog {
				.map-row {
					.map-cell {
						opacity: 0.05;
					}
				}
			}

			.map-row {
				display: flex;
				flex-direction: row;
				justify-content: center;

				.map-cell {
					width: 20px;
					height: 20px;

					border: 1px solid;
					margin: 1px;

					&:hover {
						cursor: pointer;
						opacity: 0.55;
						transform: scale(0.99);
						transition: 0.25s;
					}

					&_visible {
						opacity: 1;
					}

					&_explored {
						opacity: 0.5;
					}

					&_terrain_Plain {
						background-color: #2ecc40;
						font-size: 11px;
					}
					&_terrain_Forest {
						background-color: #157c4e;
						font-size: 14px;
					}
					&_terrain_Hills {
						background-color: #0c573b;
						font-size: 13px;
					}
					&_terrain_Dust {
						background-color: #d1ae87;
						font-size: 13px;
					}
					&_terrain_Mountains {
						background-color: #816c5b;
						font-size: 15px;
					}
					&_terrain_Water {
						background-color: #7fdbff;
						font-size: 13px;
					}

					&_unit {
						font-weight: bold;
						font-size: 18px;
					}

					&_unit-team_Red {
						color: #ff6f61;
					}
					&_unit-team_Black {
						color: #202020;
					}
					&_unit-team_Blue {
						color: #009dff;
					}
				}
			}
		}
	}
}
