.control-panel .row {
	width: 75%;
	margin: 5px auto;
	justify-content: space-around;
	align-items: center;

	.sizebar {
		input {
			width: 50px;
		}
	}

	.herobar {
		display: flex;
		flex-direction: column;
	}

	input {
		margin: 2.5px;
	}
}
